:root {
    --main-color: #980F97;
    --sec-color: #A52DAA;
    --tert-color: #E5C3E5;
    --font-color-1: #F2E1F2;
    --font-color-2: #5D215D;
}

body {
    background-color: var(--tert-color);
    height: 100vh;
}

.bg-purple {
    background-color: var(--sec-color);
}

.bg-light-purple {
    background-color: var(--font-color-1);
    background: blur;
}

.bb-purple {
    border-bottom: 4px solid var(--main-color);
}

.nav > .nav-item > a {
    color: var(--font-color-1);
}


.nav > .nav-item > a:hover {
    color: var(--font-color-2);
}